{% extends 'base.html' %}

{% block title %}Suivi aéroport Mérignac{% endblock %}

{% block header %}
	<h1>Décollages et Atterrissages autour de Mérignac</h1>
{% endblock %}

{% import 'map.html' as map %}
{% block includes %}{{ map.includes() }}{% endblock %}

{% block section %}
	{% if flights -%}
	<h2>Mouvements de l'Avant Veille ({{ flights[0][3] }})</h2>
	{%- endif %}
	<div id="screen-info" class="info">
		<p>La cartographie ne s'affiche que sur les grands écrans.
			<span onclick="this.parentElement.style.display='none'">×</span>
		</p>
	</div>
	<div class="columns">
		<table>
			<thead>
				<tr>
					<th>vol</th>
					<th>provenance</th>
					<th>jour</th>
					<th>heure</th>
					<th>destination</th>
					<th>orientation</th>
					<th>piste</th>
				</tr>
			</thead>
			<tbody>
				{%- for flight in flights -%}
					{#
						callsign,
						departure,
						time,
						localdate,
						localtime,
						arrival,
						track_orientation,
						track_name,
						trajectory,
						ad
					#}
					<tr data-flight={{ flight[2] }}>
					{%- for value in flight -%}
						{# skip time and trajectory #}
						{%- if loop.index0 != 2 and loop.index0 < 8 -%}
							{%- if loop.index0 == 6 and flight[9] == 'a' -%}
								<td style="color: red">
							{%- elif loop.index0 == 6 -%}
								<td style="color: blue">
							{%- else -%}
								<td>
							{%- endif -%}
							{{ value }}</td>
						{%- endif -%}
					{%- endfor -%}
					</tr>
				{%- endfor %}
			</tbody>
		</table>
		{{ map.placeholder() }}
	</div>
{% endblock %}

{% block script %}
	<script>
		const flights = {
			{% for flight in flights -%}
				{{ flight[2] }}: {
					'ad': '{{ flight[9] }}',
					'trajectory': [
						{%- for waypoint in flight[8] -%}
							[{{ waypoint[1] }}, {{ waypoint[2] }}],
						{%- endfor -%}
					]
				},
			{% endfor %}
		};

		document.querySelectorAll('tbody tr').forEach(row => {

			row.addEventListener('mouseenter', () => {
				const flight = row.dataset.flight
				const trajectory = flights[flight]['trajectory']
				if (trajectory)
					show_flight(trajectory, flights[flight]['ad'])
			});

			row.addEventListener('mouseleave', () => {
				clear_flight()
			});
		});
	</script>
{% endblock %}

{% block footer %}
	Source: <a href="https://opensky-network.org">OpenSky Network</a>
{% endblock %}
