:root {
	--col-subtitle-front: #333;
	--col-main-back: #eee;
	--col-info-back: #def;
	--col-button-back: #aaa;
	--col-button-front: #555;
	--col-button-front-hover: #fff;
	--col-link-back-hover: #ddd;
	--col-table-border: var(--col-button-back);
	--col-table-header-back: var(--col-table-border);
	--col-table-header-front: var(--col-button-front);
	--col-table-body-back: #fff;
	--col-table-body-back-alternate: #f6f6f6;
	--col-table-body-back-hover: var(--col-link-back-hover);
	--col-table-body-front: #333;
}

body {
	background-color: var(--col-main-back);
}

footer {
	padding: 1em;
	color: var(--col-button-front);
	background-color: var(--col-button-back);
}

nav a {
	display: inline-block;
	padding: 0.5em 1em;
	background-color: var(--col-button-back);
}
nav a:last-of-type {
	border-radius: 0 0 0.7em 0;
}
:is(nav, footer) a {
	color: var(--col-button-front);
}
:is(nav, footer) a:hover {
	color: var(--col-button-front-hover);
}

h1 {
	text-align: center;
	font: bold 2em sans-serif;
}

h2 {
	margin: 2em 0;
	text-align: center;
	font-style: italic;
	color: var(--col-subtitle-front);
}

.info {
	margin-bottom: 2em;
}
.info p {
	position: relative;
	display: inline-block;
	margin: auto;
	padding: 1em 3em 1em 2em;
	font-size: 80%;
	background-color: var(--col-info-back);
}
.info p span {
	position: absolute;
	top: 0.5em;
	right: 0.5em;
	display: inline-block;
	padding: 0.2em 0.3em;
	font-size: 80%;
	color: var(--col-button-front);
	background-color: var(--col-button-back);
}
.info p span:hover {
	color: var(--col-button-front-hover);
	cursor: pointer;
}

section {
	margin: 2em;
}

section.index a {
	display: list-item;
	margin: 0 1em;
	padding: 0.7em 0;
}
section.index a:hover {
	background-color: var(--col-link-back-hover);
}

.columns {
	display: flex;
	align-items: flex-start;
}

section table {
	margin: auto;
	overflow-x: auto;
	border: 1px solid var(--col-table-border);
}
section :is(th, td) {
	border: 0;
	text-align: center;
	vertical-align: middle;
}
section th {
	position: sticky;
	top: 0;
	background-color: var(--col-table-header-back);
	color: var(--col-table-header-front);
	padding: 1em;
}
section tr {
	background-color: var(--col-table-body-back);
	color: var(--col-table-body-front);
}
section tr:nth-child(even) {
	background-color: var(--col-table-body-back-alternate);
}
section tr:hover {
	background-color: var(--col-table-body-back-hover);
}
section td {
	font-size: 80%;
	padding: 0.3em;
}

#map {
	position: sticky;
	top: 3em;
	width: 30em;
	height: 30em;
	border-radius: 15em;
	flex-shrink: 0;
}
#map a {
    display: none;
}

#screen-info {
	display: none;
}

@media screen and (width < 1100px) {
	section:has(table) {
		margin: 0;
	}
	section th {
		padding: 0.7em 0.3em;
	}
}
@media screen and (width < 900px) {
	#map {
		display: none;
	}
	#screen-info {
		display: flex;
	}
}
@media screen and (width < 600px) {
	section :is(th, td):is(:nth-child(2), :nth-child(5)) {
		display: none;
	}
}
